<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.firstzone.account">
   <update id="update1" parameterType="map">
   update cust_account
   set balance = balance + #{amount}
   where accountNo = #{accountNo}
  </update>
  <update id="update2">
   update cust_account
   set balance = balance - #{amount}
   where accountNo = #{accountNo} <!-- 오류문장으로 변경함(transaction연습) -->
  </update>
</mapper>